.App {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 15px;
}

.FloatingButtons {
  display: none;
  flex-direction: row;
  position: absolute;
  top: 7.5px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

.ActionButton {
  border-radius: 5px;
  height: 50px;
  margin: 7.5px;
  width: 100px;
}
